div
{
    font-size: larger;
    border-radius: 40px;
    border: 2px;
    border-style: double;
    margin-right: -8px;
    background-color: aliceblue;
}
p{
    text-align: justify;
}
h1,h2,h4,p,ul,li,table
{
    margin-left: 25px;
}
img
{
    background-position: right-cor;
}